.scroll-snap {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 5rem;
  left: 0;
  right: 0;
  scroll-snap-type: both mandatory;
  overflow-y: scroll;
}

section {
  height: 100%;
  position: relative;
  scroll-snap-align: start;
}
.heading {
  top: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

section h1 {
  text-shadow: black 0 0 20px;
  display: flex;
  flex: 1 0;
  text-align: center;
  margin: auto;
  font-size: 7vmin;
  margin-left: 5vw;
  font-weight: bold;
  font-family: "Mollen";
}

.bg-image {
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -10;
  position: fixed;
  top: 0;
  bottom: 5rem;
  left: 0;
  right: 0px;
  background: black;
}

.bg-image-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-image img,
.bg-image video {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
}

.card {
  transform: translateY(-50%);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh;
  position: relative;
  text-align: left;
  display: flex;
  flex-flow: row;
  text-shadow: black 0 0 5px;
}

.vertical-50 {
  width: 100%;
  position: absolute;
}
